<html>
  <head>
    <style>
      h1 {
        width: 60%;
        margin: 20% auto;
        text-align: center;
        font-family: fantasy;
      }
    </style>
  </head>
  <body>
    <div>
      {{!-- https://us-central1-util-backend.cloudfunctions.net/app/ambisense/ --}}
      {{!-- <a href="/verify" rel="noopener noreferrer">Home</a> | 
      <a href="/verify/user" rel="noopener noreferrer">User</a>  --}}
    </div>
    <h1>{{heading}}</h1>
  </body>
</html>